.backgroundMain {
  background: #729fcf !important;
}

.backgroundComponent {
  background: #6b5e9b !important;
}

.gu-menu {
  width: 300px;
}

.widthNavBar {
  width: 35% !important;
}

.card__box-img {
  display: flex;
  justify-content: center;
  width: 10%;
  padding-right: 1vw;
  height: 100%;
}

.card__bg-img {
  position: relative;
  display: block;
  padding-bottom: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  border-radius: 5;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.card__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.hidden {
  opacity: 0;
  height: 0;
  width: 0;
  line-height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.open-btn {
  margin: 10px 20px;
  padding: 20px;
  font-size: 2rem;
}
